h1{
color : rgb(21, 70, 203);
font-size: 34px;
text-align: center;
text-transform: uppercase;

}
h2{
    color:rgba(19, 175, 186, 0.7);
    font-style:italic;
    font-weight:900;
    text-align: center;
    text-decoration : underline;
}
p1{
background-color : rgba(208, 6, 131, 0.5);
color : green;
font-size: 20px;
font-family:monospace;
font-style:normal;
font-weight:900;
line-height:20px;
letter-spacing: 3px;

}
p2{
    background-image : linear-gradient(to bottom right,yellow,chocolate);
    font-size: 20px;
    font-family:monospace;
    font-style:normal;
    font-weight:900;
    line-height:20px;
    letter-spacing: 3px;
}
p3{
    background-image : radial-gradient(rgb(0, 255, 0),rgb(162, 210, 30) );
    font-size: 20px;
    font-family:monospace;
    font-style:normal;
    font-weight:900;
    line-height:20px;
    letter-spacing: 3px;
}
